<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FogSync Client</title>
  <%- require 'pathname' -%>
  <%- Dir.glob("public/*.js").sort.map {|pp| Pathname.new(pp).basename }.each do |js| -%>
  <script src="/assets/<%= js %>"></script>
  <%- end -%>
  <%- Dir.glob("public/*.css").sort.map {|pp| Pathname.new(pp).basename }.each do |css| -%>
  <link href="/assets/<%= css %>" media="all" rel="stylesheet">
  <%- end -%>
</head>
<body>

<div class="content">
</div>

</body>
</html>
