<h2>Create A Share</h2>

<form role="form" action="/shares/" method="post" class="form-inline">
  <div class="form-group">
    <label for="name">Share Name:</label>
    <input type="text" name="name" placeholder="Documents" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Create Share</button>
</form>

<p>In future releases FogSync will define semantics for some specific share names.
If you use them for something else, future versions of FogSync may get confused.</p>
<p>These names are as follows:</p>
<dl>
  <dt>Documents</dt>
  <dd>This is a place to store arbitrary work documents. This is a good default
      share to create.</dd>
  <dt>Email</dt>
  <dd>This wll store your electronic mail in Maildir or some similar format.</dd>
  <dt>Contacts</dt>
  <dd>This will store your contacts, in vCard or some similar format.</dd>
</dl>

{{#if broken}}

<h3>Broken Shares</h3>

<p>These shares do not correctly decrypt. Either their metadata has become corrupted
or they were created with a different master key.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Share HMAC</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each broken}}
  <tr>
    <td>{{this}}</td>
    <td><button class="btn btn-danger delete-broken" {{bind-attr data-name="this"}}>
        <span class="glyphicon glyphicon-remove"></span> Delete </button></td>
  </tr>
  {{/each}}
  </tbody>
</table>

{{/if}}
