<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2">
        <h1>Shares</h1>
        <ul>
          {{#each}}
          <li>{{#link-to 'share' Name}}{{Name}}{{/link-to}}</li>
          {{else}}
          <li>No shares</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-10">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
